
#banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: none;
  -webkit-transition: all 2s;
  transition: all 2s;
  z-index: 1010;
}

#banner h1 {
  position: relative;
  font-size: 3em;
  margin-top: 70px;
  line-height: 1;
  letter-spacing: -1px;
  -webkit-transition: all 2s;
  transition: all 2s;
}

#banner h1 span {
  white-space: nowrap;
}

#banner h1 i {
  position: absolute;
  top: -80px;
  margin-left: 100px;
  font-size: 72px;
  -webkit-transition: all 2s;
  transition: all 2s;
}

#banner .lead {
  font-size: 1.2em;
  margin-bottom: 5px;
  -webkit-transition: all 2s;
  transition: all 2s;
  white-space: nowrap;
}

#banner.ui-scrollfix {
  position: fixed;
  padding-bottom: 0px;
}

#banner.ui-scrollfix h1 {
  margin-top: 0px;
  font-size: 1em;
}

#banner.ui-scrollfix h1 i {
  top: -5px;
  margin-left: -30px;
  font-size: 21px;
}

#banner.ui-scrollfix .lead {
  font-size: 1em;
}

.hero-unit {
    position: relative;
    padding: 10px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

#content {
  margin-top: 180px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.top-buffer-20 { margin-top:20px; }
.top-buffer-10 { margin-top:10px; }
.top-buffer-5 { margin-top:5px; }

.btn-group-vertical > .btn, .btn-group-vertical > .btn-group, .btn-group-vertical > .btn-group > .btn {
  width: auto;
}

.input-group .btn-mid {
  border-radius: 0;
}

.input-group .btn-first {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.status {
  position: absolute;
  display: block !important;
  top: 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.status.ng-hide {
  top: -14px;
}

.status.ng-hide.ng-animate {
  display: block !important;
}

.clip-item {
  height: 130px;
}

.btn-xlg, .btn-group-xlg > .btn {
  padding: 42px 32px;
  font-size: 26px;
  line-height: 1.33;
  border-radius: 6px;
}

@media (max-width: 992px) {
  .clip-item {
    height: auto;
  }

  .btn-xlg, .btn-group-xlg > .btn {
    padding: 15px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
  }
}

form.edit input {
  text-align: left;
}

form.edit {
  position: relative;
  min-height: 20px;
  padding: 5px;
  margin: 0px 0px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

form.edit .grip {
  position: absolute;
  left: 0;
  color: #666;
}

form.edit .form-group {
  margin-bottom: 5px;
}

.ui-sortable-handle {

}

.ui-sortable-handle:hover form.edit {
  border: 1px solid lightblue;
  cursor: move;
}

.item-grip {
  position: absolute;
  height: 30px;
  width: 6px;
  margin-top: 45px;
}

.item-grip .icon-bar {
  display: block;
  width: 6px;
  height: 2px;
  border: 1px solid #999;
  border-radius: 1px;
  margin-top: 6px;
}

/*
.btn-dbl {
  height: 60px;
}

.clip-item .btn-block {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.clip-item input {
  text-align: center;
  border-radius: 0 !important;
  border-top-left-radius: 6px !important;
}

.clip-item input+input {
  border-radius: 0 !important;
  border-bottom-left-radius: 6px !important;
}
*/
